<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/stylesheets/readMore.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to My Blog</h1>

        <div class="blog-post">
            <h2 class="post-title">
                <%= title %>
            </h2>
            <p class="post-body">
                <%= body %>
            </p>
            <a href="/del/<%=title  %>"><button class="delete-button">Delete</button></a>
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>